/* Centering and border removal from react calendar*/
.react-calendar {
    border: none;
    width: 100%;
    max-width: 500px;
    color: black;
}

/* Custom weekday headers */
.react-calendar__month-view__weekdays__weekday {
    text-transform: capitalize;
    font-weight: bold;
    color: black;
    font-size: 0.9rem;
}

/* Larger navigation arrows */
.react-calendar__navigation button {
    font-size: 1.2rem;
    color: black;
}

/* Animation for FireIcon */
@keyframes burn-animation {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}