/* Ensure all calendar dates have the color black */
.react-calendar__month-view__days__day--weekend {
    color: black !important; /* Override weekend color */
  }

/* Custom weekday headers */
.react-calendar__month-view__weekdays__weekday {
    text-transform: capitalize;
    font-weight: bold;
    color: black;
    font-size: 0.8rem;
}

/* Larger navigation arrows */
.react-calendar__navigation button {
    font-size: 1rem;
    color: black;
}

/* Animation for FireIcon */
@keyframes burn-animation {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}